.CombiInput {
  display: flex;
  align-items: center;
  height: 100%;
}

.CombiInput>*:not(:last-child) {
  margin-right: 5px;
}

.CombiInput>* {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
