.ListviewContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin: 0;
  padding: 0;
}

.ListviewContainer>* {
  font-size: 13px;
  margin: 0;
  padding: 0;
}

.ListviewHeader {
  background-color: #eee;
  position: -webkit-sticky;
  position: sticky;
  top: 51px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  user-select: none;
}

.ListviewHeader>* {
  display: flex;
  margin: 0;
  padding: 0;
  padding-left: 10px;
  height: 40px;
  align-items: center;
  justify-content: center;
}

.TitleRow {
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  min-height: 100%;
  justify-content: space-between;
}

.Title {
  font-weight: 500;
  font-size: 15px;
  padding: 0;
  margin: 0;
}

.Navigation {
  display: flex;
  min-height: 100%;
  padding: 0;
  margin: 0;
}

.Navigation>* {
  border-left: 1px solid #ccc;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.Counter {
  padding: 0 10px;
}

.PreviousNext, .ColumnConfigurator {
  width: 36px;
}

.PreviousNext {
  background-color: #ddd;
}

.PreviousNext:hover {
  background-color: #eee;
  cursor: pointer;
}

.ColumnConfigurator:hover {
  background-color: #ddd;
  cursor: pointer;
}

.ActionRow {
  min-height: 100%;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  padding-left: 0;
  justify-content: space-between;
}

.ActionRowActions, .FilterSort {
  display: flex;
  min-height: 100%;
  padding: 0;
  margin: 0;
}

.ActionRowActions>*, .FilterSort>* {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  padding: 0;
  margin: 0;
}

.ActionRowActions>*  {
  border-right: 1px solid #ccc;
  color: white;
  background-color: #007bff;
}

.ActionRowActions>*:last-child {
  border-right: none;
}

.FilterSort>*  {
  border-right: 1px solid #ccc;
  color: white;
  background-color: #28a745;
}

.ActionRowActions>*:hover {
  background-color: darkblue;
  cursor: pointer;
}

.FilterSort>*:hover {
  background-color: darkgreen;
  cursor: pointer;
}

.Search {
  min-height: 100%;
  padding: 0;
  margin: 0;
  background-color: white;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}

.Search>div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  padding: 0;
  margin: 0;
  color: #dc3545;
  background-color: white;
}

.Search>div:hover {
  background-color: #dc3545;
  color: white;
  cursor: pointer;
}

.Search>input {
  padding: 0 10px;
  flex-grow: 2;
  outline: none;
  border: none;
}

.HeaderRow {
  background-color: #ddd;
  box-sizing: border-box;
  min-height: 100%;
}

.Headers>* {
  display: flex;
  margin: 0;
  padding: 0;
}

.HeaderSortable {
  cursor: pointer;
}

.HeaderSortable:hover {
  font-weight: bold;
}

.Sort {
  margin-left: 5px;
}







.Row {
  padding: 8px 0 8px 10px;
  display: flex;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

.Row:hover {
  background-color: #eee;
  color: inherit;
}

.RowEdit {
  background-color: #28a745;
  color: white;
}

.RowSelectZone, .HeaderSelectZone {
  border: 1px solid #bbb;
  width: 12px;
  height: 12px;
}

.RowSelected, .HeaderSelected {
  background-color: #dc3545;
}

.Radio {
  border-radius: 30px;
}

.Flex {
  width: 100%;
  display: flex;
  align-items: center;
}

.Flex>*, .Title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Fixed {
  display: flex;
  align-items: center;
}

.Fixed0 {
  width: 8px;
  min-width: 8px;
}

.Fixed1 {
  width: 12px;
  min-width: 12px;
}

.Fixed2 {
  width: 26px;
  min-width: 26px;
}

.Flex10 {
  width: 10%;
}
.Flex20 {
  width: 20%;
}
.Flex30 {
  width: 30%;
}
.Flex40 {
  width: 40%;
}
.Flex50 {
  width: 50%;
}
.Flex60 {
  width: 60%;
}
.Flex70 {
  width: 70%;
}
.Flex80 {
  width: 80%;
}
.Flex90 {
  width: 90%;
}
.Flex100 {
  width: 100%;
}

.AvatarLarge {
  color: white;
  min-width: 56px;
  font-size: 24px;
}

.AvatarMedium {
  color: white;
  min-width: 40px;
  font-size: 16px;
}

.AvatarSmall {
  color: white;
  min-width: 32px;
  font-size: 12px;
}

.TimespanLarge {
  min-width: 210px;
}

.TimespanMedium {
  min-width: 160px;
}

.TimespanSmall {
  min-width: 110px;
}

.Small {
  flex-grow: 1;
}

.Medium {
  flex-grow: 2;
}

.preSpace::before {
  content: ' ';
}

.smallFont {
  font-size: 10px;
}

.largeFont {
  font-size: 16px;
}
