.ListviewContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin: 0;
  padding: 0;
}

.ListviewContainer>* {
  font-size: 13px;
  margin: 0;
  padding: 0;
}

.ListviewHeader {
  // background-color: #eee;
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
  // border-top: 1px solid #ccc;
  // border-bottom: 1px solid #ccc;
  user-select: none;
}

.ListviewHeader>* {
  display: flex;
  margin: 0;
  padding: 0;
  padding-left: 10px;
  // height: 40px;
  align-items: center;
  justify-content: center;
}

.HorizontalRuler {
  border-bottom: 1px solid #e2e2e2;
  margin: 0 10px;
}

.ActionRow {
  // min-height: 100%; /* 4-10-2018: Multiplies heigth of 40px with 3 in Firefox ESR 52.9.0 */
  // border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  padding-left: 0;
  justify-content: space-between;
  background-color: #e1e8f8;
  padding: 10px 5px;
  height: 60px;
}

.ActionRowActions, .FilterSort {
  display: flex;
  align-items: center;
  min-height: 100%;
  padding: 0;
  // padding-left: 5px;
  margin: 0;
}

.FilterSort {
  margin-left: 5px;
}

.ActionRowActions>*, .FilterSort>* {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  padding: 0;
  margin: 0;
  margin-right: 5px;
  border-radius: 4px;
}

.ActionRowActions>*  {
  // border-right: 1px solid #ccc;
  color: #7c7c7c;
  background-color: #e2e2e2;
  border: 1px solid #7c7c7c;
}

.FilterSort>*  {
  // border-right: 1px solid #ccc;
  color: white;
  background: linear-gradient(to bottom, #00b7fa 0%, #00a8e6 100%);
}

.ActionRowActions>*:hover, .FilterSort>*:hover {
  cursor: pointer;
}

.Search {
  min-height: 100%;
  padding: 0;
  padding-left: 5px;
  margin: 0;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  border: 1px solid #707070;
  border-radius: 20px;
  max-width: 350px;
  min-width: 350px;
}

.Search>div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  padding: 0;
  margin: 0;
  background-color: white;
  color: #dc3545;
}

.Search>div:hover {
  background-color: #dc3545;
  color: white;
  cursor: pointer;
}

.Search>input {
  padding: 0 10px;
  flex-grow: 2;
  outline: none;
  border: none;
  background: transparent;
  width: 100%;
}

.Search>input::placeholder {
  color: #ccc;
  font-style: italic;
}

.SearchErase {
  border-radius: 20px;
  width: 26px !important;
  height: 26px !important;
}

.Actions {
  display: flex;
}

.HeaderRow {
  background-color: #ddd;
  box-sizing: border-box;
  height: 50px;
  // min-height: 100%; /* 4-10-2018: Multiplies heigth of 40px with 3 in Firefox ESR 52.9.0 */
}

.Headers>* {
  display: flex;
  margin: 0;
  padding: 0;
}

.Header {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #393b4a;
}

.HeaderSortable {
  cursor: pointer;
}

.HeaderSortable:hover {
  font-weight: bold;
}

.Sort {
  margin-left: 5px;
  color: #0199d0;
}

.Row {
  padding: 12px 0 12px 10px;
  display: flex;
  cursor: pointer;
}

.Row:hover {
  color: inherit;
  border: 1px solid #707070;
  box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
}

.RowEdit {
  background-color: #e1e8f8;
}

.RowSelectZone, .HeaderSelectZone {
  border: 1px solid #bbb;
  width: 12px;
  height: 12px;
  background: white;
}

.RowSelected, .HeaderSelected {
  background-color: #dc3545;
}

.Radio {
  border-radius: 30px;
}

.Flex {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.FlexRow {
  width: 100%;
  display: flex;
  align-items: center;
}

.RowHover {
  display: none;
}

.Row:hover>.Flex>.RowHover {
  display: flex;
}

.RowHover>* {
  padding: 0 5px;
  color: #bbb;
}

.RowHover>*:hover {
  color: black;
}

.FlexRow>* {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 5px;
}

.DropDownIcon {
  font-size: 18px;
}

.Fixed {
  display: flex;
  align-items: center;
}

.Fixed0 {
  width: 8px;
  min-width: 8px;
}

.Fixed1 {
  width: 12px;
  min-width: 12px;
}

.Fixed2 {
  width: 32px;
  min-width: 32px;
  display: flex;
  justify-content: center;
}

.Flex10 {
  width: 10%;
}
.Flex15 {
  width: 15%;
}
.Flex20 {
  width: 20%;
}
.Flex25 {
  width: 25%;
}
.Flex30 {
  width: 30%;
}
.Flex40 {
  width: 40%;
}
.Flex50 {
  width: 50%;
}
.Flex60 {
  width: 60%;
}
.Flex70 {
  width: 70%;
}
.Flex80 {
  width: 80%;
}
.Flex90 {
  width: 90%;
}
.Flex100 {
  width: 100%;
}

.AvatarLarge {
  color: white;
  min-width: 56px;
  font-size: 24px;
}

.AvatarMedium {
  color: white;
  min-width: 40px;
  font-size: 16px;
}

.AvatarSmall {
  color: white;
  min-width: 32px;
  font-size: 12px;
}

.TimespanLarge {
  min-width: 210px;
}

.TimespanMedium {
  min-width: 160px;
}

.TimespanSmall {
  min-width: 110px;
}

.PreSpace::before {
  content: ' ';
}

.FontSmall {
  font-size: 10px;
}

.FontLarge {
  font-size: 16px;
}

.FontBold {
  font-weight: 600;
}

.FontGrey {
  color: #625b5b;
}

.ScreenSmallColumn, .ScreenMediumColumn, .ScreenLargeColumn,
.ScreenSmallOnlyColumn, .ScreenMediumOnlyColumn, .ScreenLargeOnlyColumn,
.ScreenSmallAction, .ScreenMediumAction, .ScreenLargeAction,
.ScreenSmallOnlyAction, .ScreenMediumOnlyAction, .ScreenLargeOnlyAction { display: none; }

@media(min-width: 1px) {
  .ScreenSmallColumn { display: block; }
  .ScreenSmallAction { display: flex; }
}

@media(max-width: 767px) {
  .ScreenSmallOnlyColumn { display: block; }
  .ScreenSmallOnlyAction { display: flex; }
  .RowHover>* { font-size: 30px; }
  .Search {
    max-width: 150px;
    min-width: 150px;
    overflow-x: hidden;
  }
}

@media(min-width: 768px) {
  .ScreenSmallColumn, .ScreenMediumColumn { display: block; }
  .ScreenSmallAction, .ScreenMediumAction { display: flex; }
}

@media(min-width: 768px) and (max-width: 1279px) {
  .ScreenMediumOnlyColumn { display: block; }
  .ScreenMediumOnlyAction { display: flex; }
}

@media(min-width: 1280px) {
  .ScreenSmallColumn, .ScreenMediumColumn, .ScreenLargeColumn, .ScreenLargeOnlyColumn { display: block; }
  .ScreenSmallAction, .ScreenMediumAction, .ScreenLargeAction, .ScreenLargeOnlyAction { display: flex; }
}
