.Add, .Delete {
  min-height: 30px;
  min-width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: linear-gradient(to bottom, #00b7fa 0%, #00a8e6 100%);
  color: white;
  border: none;
  border-radius: 3px;
}

.Delete {
  background: #e2e2e2;
  color: #7c7c7c;
  border: 1px solid #7c7c7c;
}
