.UpdateWrapper:not(:last-child) {
  margin-bottom: 20px;
}

.Update, .UpdateBySupport {
  background-color: #f2f0f0;
  padding: 10px;
  margin: 0;
  display: flex;
  border-left: 1px solid #cbcbcb;
  border-right: 1px solid #cbcbcb;
  border-top: 1px solid #cbcbcb;
  border-radius: 5px 5px 0 0;
}

.NoAttachements {
  border-radius: 5px 5px 5px 5px !important;
  border-bottom: 1px solid #cbcbcb;
}

.UpdateBySupport {
  // border: 1px solid #82c0d8 !important;
  background-color: transparent !important;
}

.UpdateDetails {
  min-width: 120px;
  max-width: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  // border: 1px solid red;
}

.UpdateDetailsStatus {
  margin-bottom: 20px;
}

.UpdateDetailsDateTime {
  font-size: 11px;
}

.UpdateContent {
  flex-grow: 1;
  padding-left: 10px;
  // border: 1px solid green;
}

.AttachmentsWrapper {
  border-left: 1px solid #cbcbcb;
  border-right: 1px solid #cbcbcb;
  border-bottom: 1px solid #cbcbcb;
  padding: 10px;
  background-color: #d3d3d3;
  border-radius: 0 0 5px 5px;
}

.Attachment {
  // border: 1px solid red;
  display: flex;
  cursor: pointer;
}

.Attachment:not(:last-child) {
  margin-bottom: 5px;
}

.Attachment>* {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.AttachmentIcon {
  // border: 1px solid blue;
  padding-right: 10px;
  font-size: 20px;
}

.AttachmentFilename {
  // border: 1px solid purple;
  font-style: italic;
}
