.ModalExtraSmall, .ModalSmall, .ModalMedium, .ModalWide, .ModalExtraWide {
	position: fixed;
	background-color: white;
	box-shadow: 1px 1px 1px black;
	box-sizing: border-box;
	transition: all 0.3s ease-out;
	overflow-y: auto;
	max-height: 600px;
}

.Pos1 {
	z-index: 200;
	top: 10%;
}

.Pos2 {
	z-index: 400;
	top: 20%;
}

.Pos3 {
	z-index: 600;
	top: 30%;
}

.ModalExtraSmall, .ModalSmall, .ModalMedium, .ModalWide, .ModalExtraWide {
	width: 300px;
	left: calc(50% - 150px);
}

@media (min-width: 600px) {
	.ModalSmall, .ModalMedium, .ModalWide, .ModalExtraWide {
		min-width: 500px;
		left: calc(50% - 250px);
	}
}

@media (min-width: 900px) {
	.ModalMedium, .ModalWide, .ModalExtraWide {
		min-width: 800px;
		left: calc(50% - 400px);
	}
}

@media (min-width: 1200px) {
	.ModalWide, .ModalExtraWide {
		min-width: 1100px !important;
		left: calc(50% - 550px);
	}
}

@media (min-width: 1500px) {
	.ModalExtraWide {
		min-width: 1400px;
		left: calc(50% - 700px);
	}
}
