.SideDrawer {
  height: 100%;
  background: linear-gradient(to bottom, #181b23 0%, #383a49 100%);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.SideDrawerMin {
  max-width: 50px;
}

.SideDrawerMax {
  max-width: 200px;
}

.Open {
  display: flex;
}

.Close {
  display: none;
}

.ExpandCollapse {
  color: white;
  font-size: 13px;
  padding-top: 4px;
  padding-bottom: 4px;
  display: flex;
  justify-content: center;
  margin: 0;
}

.ExpandCollapse:hover {
  cursor: pointer;
}

.sideBarDivider {
  height: 7px;
  background: linear-gradient(to bottom, rgba(50,50,50,1) 25%,    rgba(28,31,39,1) 100%);
}
