.Header {
  height: auto;
  color: white;
  padding: 10px 10px;
  box-sizing: border-box;
  font-size: 15px;
  position: sticky;
	top: 0;
	left: 0;
}

.Info {
  background-color: #007bff;
}

.Warning {
  // background-color: #ffc107;
  background-color: #dc3545;
}

.Error {
  background-color: #dc3545;
}
