.Wrapper {
	min-height: 100%;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
  color: grey;
}

.Dashboard {
	padding: 20px 20px 10px 20px;
	max-width: 1000px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
  align-content: flex-start;
}

@media(max-width: 767px) {
	.Dashboard {
		width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
	}
  .Dashboard>* {
    width: 100%;
  }
}
