/*DIT MOET STRAKS NAAR EEN HOGER NIVO, VOOR ALLE LISTS!!!*/

.ListRow {
	display: flex;
	align-items: center;
	width: 100%;
	height: 40px;
	border-bottom: 1px solid #ccc;

	.ListRowCheckbox {
		margin-right: 6px;
	}
}

.ListRowEdit {
	background-color: #eee;
}
