.ToolbarIcon {
	height: 100%;
	width: 80px;
	font-size: 22px;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
}

.ToolbarIcon:hover {
	cursor: pointer;
	background-color: #767780;
	border-top: 5px solid transparent;
	border-bottom: 5px solid #0199D0;
}

.ToolbarIcon a {
	color: white !important;
	text-decoration: none;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*.ToolbarIcon a.active {
	color: red;
	font-size: 30px;
}*/
