html, body {
	height: 100%;
	margin: 0;
	// background-color: lightgray;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

#wrapper {
	min-height: 100%;
	display: flex;
	box-sizing: border-box;
}

:global .ContentWindow {
	display: flex;
	justify-content: space-between;
}

:global .TabContent {
	padding: 10px;
}
