.Label {
  display: block;
  margin-bottom: 0px;
  font-size: 11px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.InputElement {
  outline: none;
  border: 1px solid #ccc;
  background-color: white;
  font: inherit;
  padding: 6px 10px;
  display: block;
  width: 100%; /*Important cause else it exceeds a flex container size (f.i. Flex20).*/
}

.InputElement:focus {
  outline: none;
  background-color: #eee;
}

.Invalid {
  // border: 1px solid red;
}

.ValidationError {
  color: red;
  margin: 5px 0;
}
