.Entry {
  display: flex;
  justify-content: space-between;
  // margin-bottom: 10px;
  // border: 1px solid red;
}

.Inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.EntryLine {
  display: flex;
  margin-bottom: 10px;
  width: 100%;
}

.EntryLine>div {
  padding-right: 10px;
  box-sizing: border-box;
}
