.Search {
  min-height: 100%;
  padding: 0;
  margin: 0;
  background-color: #424250;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  border: 1px solid transparent;
  border-radius: 18px;
}

.Search>div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  padding: 0;
  margin: 0;
  color: #777;
  background-color: transparent;
}

.Search>div:hover {
  cursor: pointer;
  color: white;
}

.Search>input {
  padding: 0 10px;
  flex-grow: 2;
  outline: none;
  border: none;
  background-color: transparent;
  color: white;
}

.Search>input::placeholder {
  color: white;
  font-style: italic;
}

.Small {
  flex-grow: 1;
}

.Medium {
  flex-grow: 2;
}
